$pink-button: rgb(255, 133, 195);
$background-color: rgb(0, 187, 253);
$battery-colour: rgb(127, 107, 105);
$text-colour: rgb(4, 76, 188);
$button-colour: rgb(17, 195, 255);
$button-text-colour: rgb(17, 195, 255);
