@use "grid";
@use "colours";
@use "font";

.main-calculator {
  display: grid;
  @include grid.grid;
  background-color: colours.$background-color;
  border-radius: 20px;
  border: 2px solid colours.$text-colour;
  height: 500px;
  width: 400px;
  box-shadow: 4px 4px 4px colours.$text-colour;
}
.main-calculator__number-display {
  grid-area: output;
  display: flex;
  justify-content: center;
}
#number-display {
  font-size: 50px;
  font-family: font.$font;
  resize: none;
  margin: 20px;
  border: 2px solid colours.$text-colour;
  border-radius: 10px;
}

.main-container__text {
  color: colours.$text-colour;
  grid-area: text1;
  height: 25px;
  display: flex;

  .text-main {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }
  .text-sub-one {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
  }
  .text-sub-two {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
  }
  .text-main__center {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    // font-style: italic;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
  }
  .text-sub__center {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
    color: colours.$text-colour;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
  }
  .main-container__battery {
    background-color: colours.$battery-colour;
    height: 30px;
    width: 100px;
    margin: 20px;
    border-radius: 10px;
    border: 3px solid rgb(44, 42, 42);
    box-shadow: 2px 2px 2px rgb(44, 42, 42);
  }
}

.main-container__buttons_center {
  grid-area: buttons1 buttons2 buttons3;
  display: flex;
}

.main-container__button-column-left {
  grid-area: buttons1;
  margin: 5px;
  align-items: center;
}
.main-container__button-columns-center {
  grid-area: buttons2;
}
.main-container__button-column-right {
  grid-area: buttons3;
}

.center-buttons {
  background-color: colours.$button-colour;
  color: white;
  border-radius: 7px;
  margin: 2px;
  padding: 0px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px colours.$text-colour;
}

.white-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: colours.$button-text-colour;
  border-radius: 100px;
  padding: 10px;
  margin: 2px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px colours.$text-colour;
}

.pink-button {
  background-color: colours.$pink-button;
  color: white;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  font-size: medium;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px colours.$text-colour;
}
.main-container__equals-button {
  grid-area: equals;
  display: flex;
  justify-content: center;
}
.equal-button {
  display: flex;
  background-color: white;
  color: colours.$button-text-colour;
  border-radius: 100px;
  height: 50px;
  width: 200px;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px colours.$text-colour;
}
