@use "grid";
@use "colours";
@use "font";

.main-calculator {
  display: grid;
  @include grid.grid;
  background-color: colours.$background-color;
  border-radius: 20px;
  height: 600px;
  width: 400px;
  box-shadow: 4px 4px 4px colours.$text-colour;
}
.main-calculator__number-display {
  grid-area: output;
  display: flex;
  justify-content: center;
}
#number-display {
  font-size: 50px;
  font-family: font.$font;
  resize: none;
  margin: 20px;
}

.main-container__text__left {
  color: colours.$text-colour;
  grid-area: text1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 25px;
  .text-main {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }
  .text-sub {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
  }
}

.main-container__text__right {
  grid-area: text2;
  color: colours.$text-colour;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  height: 25px;

  .text-main__center {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    font-style: italic;
  }
  .text-sub__center {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
  }
}

.main-container__battery {
  grid-area: battery;
  background-color: colours.$battery-colour;
  height: 30px;
  width: 125px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(87, 85, 85);
}

.main-container__button-column-left {
  grid-area: buttons1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
.main-container__button-columns-center {
  grid-area: buttons2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  align-items: center;
}

.center-buttons {
  background-color: colours.$button-colour;
  color: white;
  border-radius: 7px;
  margin: 2px;
  padding: 0px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px colours.$text-colour;
}

.main-container__button-column-right {
  grid-area: buttons3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: colours.$button-text-colour;
  border-radius: 100px;
  padding: 10px;
  margin: 2px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px colours.$text-colour;
}

.pink-button {
  background-color: colours.$pink-button;
  color: white;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  font-size: medium;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px colours.$text-colour;
}
.main-container__equals-button {
  grid-area: equals;
  display: flex;
  justify-content: center;
}
.equal-button {
  display: flex;
  background-color: white;
  color: colours.$button-text-colour;
  border-radius: 100px;
  height: 50px;
  width: 200px;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px colours.$text-colour;
}
