.main-calculator {
  display: grid;
  grid-template-areas: "output output output" "text1 text1 text1" "buttons1 buttons2 buttons3" "equals equals equals";
  grid-template-columns: 100px 200px 100px;
  grid-template-rows: 100px 50px 250px 100px;
  background-color: rgb(0, 187, 253);
  border-radius: 20px;
  border: 2px solid rgb(4, 76, 188);
  height: 500px;
  width: 400px;
  box-shadow: 4px 4px 4px rgb(4, 76, 188);
}

.main-calculator__number-display {
  grid-area: output;
  display: flex;
  justify-content: center;
}

#number-display {
  font-size: 50px;
  font-family: "Segment14Regular";
  resize: none;
  margin: 20px;
  border: 2px solid rgb(4, 76, 188);
  border-radius: 10px;
}

.main-container__text {
  color: rgb(4, 76, 188);
  grid-area: text1;
  height: 25px;
  display: flex;
}
.main-container__text .text-main {
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}
.main-container__text .text-sub-one {
  font-size: 8px;
  margin: 0px;
  padding: 0px;
}
.main-container__text .text-sub-two {
  font-size: 8px;
  margin: 0px;
  padding: 0px;
}
.main-container__text .text-main__center {
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}
.main-container__text .text-sub__center {
  font-size: 8px;
  margin: 0px;
  padding: 0px;
  color: rgb(4, 76, 188);
}
.main-container__text .main-container__battery {
  background-color: rgb(127, 107, 105);
  height: 30px;
  width: 100px;
  margin: 20px;
  border-radius: 10px;
  border: 3px solid rgb(44, 42, 42);
  box-shadow: 2px 2px 2px rgb(44, 42, 42);
}

.main-container__buttons_center {
  grid-area: buttons1 buttons2 buttons3;
  display: flex;
}

.main-container__button-column-left {
  grid-area: buttons1;
  margin: 5px;
  align-items: center;
}

.main-container__button-columns-center {
  grid-area: buttons2;
}

.main-container__button-column-right {
  grid-area: buttons3;
}

.center-buttons {
  background-color: rgb(17, 195, 255);
  color: white;
  border-radius: 7px;
  margin: 2px;
  padding: 0px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px rgb(4, 76, 188);
}

.white-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(17, 195, 255);
  border-radius: 100px;
  padding: 10px;
  margin: 2px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px rgb(4, 76, 188);
}

.pink-button {
  background-color: rgb(255, 133, 195);
  color: white;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  font-size: medium;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px rgb(4, 76, 188);
}

.main-container__equals-button {
  grid-area: equals;
  display: flex;
  justify-content: center;
}

.equal-button {
  display: flex;
  background-color: white;
  color: rgb(17, 195, 255);
  border-radius: 100px;
  height: 50px;
  width: 200px;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(4, 76, 188);
}
