@mixin grid {
  grid-template-areas:
    "output output output"
    "text1 text1 text1"
    "buttons1 buttons2 buttons3"
    "equals equals equals";
  grid-template-columns: 70px 200px 70px;
  grid-template-rows: 100px 75px 225px 100px;
}
